

@{
    ViewData["Title"] = "Completed";
}
    <div class="set-width info-msg">

        <h2>Registration Successful</h2>
        <h2>We will contact you soonest</h2>

        <br />

        <a asp-action="Index" asp-controller="Home" class="cancel">Go Back</a>

    </div>


