


@{
    ViewData["Title"] = "ConfirmEmail";
}
<div class="set-width info-msg">

    <h2> Thank you for confirming your email</h2>
    <br />

    <a asp-action="Login" asp-controller="Home" class="cancel">Click here to Log in</a>

</div>



