@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using Technicians.ViewModels
@model CreateRoleViewModel


@{
    ViewData["Title"] = "Create Role";
}


<h4>Create Role</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="CreateRole" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label">Role Name</label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Role" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>