


@{
    ViewData["Title"] = "Email Confirmation";
}
<div class="set-width info-msg">

    <h2> Please Check your Email to confirm your account</h2>
    <h4>(Check your spam folder if it is not in your Inbox)</h4>
    
</div>



