@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}

    <div class="info-msg">
        <label>Forgot Password</label>

        <form asp-controller="Home" asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="warning"></div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label">Email Address</label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <br />
                    <input type="submit" class="mybtn" value="Reset" />
                </div>
            </div>

            <div asp-validation-summary="All" class="ui error message"></div>

        </form>
    </div>