
@{
    ViewData["Title"] = "PasswordReset";
}

<div class="set-width">

    <h2> Please Check your Email to reset your password</h2>
    <h4>(Check your spam folder if it is not in your Inbox)</h4>
</div>