
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


@{
    ViewData["Title"] = "Completed";
}
<div class="info-msg">

<h2>Sorry, You can't edit a completed request</h2>
    <br />

<a asp-action="Index" class="cancel">Back to Dashboard</a>
    </div>


