@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


@{
    ViewData["Title"] = "New User";
}




<div class="info-msg">

    <h2>You have no Request</h2>
    <h3>Click the button below to create your first request</h3>
    <br>
    <p>
        <a asp-action="Create" class="mybtn">Make Request</a>
    </p>
</div>


